<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Open in Terminal</string>
	<key>uuid</key>
	<string>28E80CB3-73F2-4D04-8648-76E14EDA5BB4</string>
</dict>
</plist>
